.bg-faq {
  background: url("../../images/faqbg.webp")no-repeat;
  background-size: contain;
  min-height: 1730px;
  width: 100%;  
  margin-top: 150px;
  /* padding-bottom: 100px; */
}
.faq_head {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}
.faq-content{
    /* padding-top: 400px; */
}
.faq-content .react-faq-row {
  margin-bottom: 20px; /* Adjust spacing between titles */
}

.faq-content .react-faq-row-title {
  padding: 20px 0; /* Adds padding above and below each title */
  font-size: 30px; /* Ensures title font size */
  font-weight: bold;
}


  
  