.contact_head {
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
.start_contact {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #fff;
}
.start_contact_dark {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #575757;
}
.form-input {
  border-bottom: 1px solid #797979 !important;
  box-shadow: none !important;
  color: #fff !important;
}
.form-input::placeholder {
  color: #797979;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.btn.submitbtn {
  width: 220px;
  height: 67px;
  border-radius: 30px;
  background-color: #414141;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.popup-close-btn {
  background-color: #769f00;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.service-tab {
  max-width: 240px;
  height: 46px;
  border-radius: 30px;
  background-color: #414141;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px 19px;
  transition: background-color 0.3s ease;
}
.service-tab.active {
  border: 2px solid #978649;
  background-color: #ffcf4a4f;
}
.c-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

.c-icon {
  width: 190px;
}
.pt-25-advance {
  padding-top: 130px;
}

@media (max-width: 750px) {
  .contact_head {
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
  }
  .start_contact {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 21.6px;
    line-height: 100%;
    text-align: center;
    padding-top: 51px;
  }
  .service-tab {
    max-width: 104px;
    height: 24.6px;
    border-radius: 30px;
    background-color: #414141;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px 19px;
    transition: background-color 0.3s ease;
  }
  .form-input::placeholder {
    color: #797979;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
  }
  .btn.submitbtn {
    width: 110px;
    height: 29.2px;
    border-radius: 30px;
    background-color: #414141;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 11.5px;
    text-transform: capitalize;
  }
  .start_contact_dark {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }
  .pt-25-advance {
    padding-top: 340px;
  }
  .directcontact{
    margin-top: -200px;
  }
  .c-icon {
    width: 45px;
}
.c-text {
    font-size: 15px;
    line-height: 100%;
}
}
@media (max-width: 500px) {
  .contact_head {
    font-size: 19px;
  }
  .start_contact {
    font-family: Inter, sans-serif;
    font-size: 12.6px;
    padding-top: 20px;
  }
}
