@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap");

:root {
  --main-color: #f9b000;
  --dark-color: #272727;
  --light-color: #d9d9d9;
  --white-color: #ffffff;
}
body {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  font-family: "Raleway", sans-serif;
  /* cursor: url('./images/bee.png') 16 16, auto; */
}

.pt-30 {
  padding: 290px 0;
}
.pt-20 {
  padding-top: 90px;
}
.pt-25 {
  padding-top: 130px;
}
.pb-10 {
  padding-bottom: 20px;
}
.pb-20 {
  padding-bottom: 120px;
}
.mt-20 {
  margin-top: 70px;
}
.section_head {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--white-color);
}
canvas {
  display: block; /* Removes the default inline-block spacing */
  width: 100%; /* Make canvas responsive */
  overflow-x: hidden !important;
}
.main_banner::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #272727 100%);
  width: 100%;
  height: 376px;
  top: 0;
  left: 0;
  transform: rotate(-180deg);
  pointer-events: none;
}
.main_banner::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #272727 100%);
  width: 100%;
  height: 314px;
  bottom: 0px;
  left: 0;
  pointer-events: none;
}
.t-up {
  top: -80px;
}
.z9 {
  z-index: 99;
}
.bnblogo {
  width: auto;
  height: 78px;
}
.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.container-fluid {
  max-width: 1400px !important;
}
.banner_head {
  color: var(--white-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 56.35px;
  letter-spacing: 0%;
  pointer-events: none;
  font-family: "Staatliches", sans-serif;
}
.banner_head span {
  color: var(--main-color);
}
.header-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 999;
  transition: transform 0.5s ease-in-out, opacity 0.3s;
  will-change: transform, opacity;
}

/* On scroll down - Hide Header */
.header-wrapper.hide-header {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

/* On scroll up - Show Header */
.header-wrapper.show-header {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.about_para p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.18px;
  letter-spacing: 0%;
  color: var(--white-color);
}
.bnb_video {
  height: 642px;
  width: 100%;
  background-color: var(--light-color);
}
.mainbtn {
  width: 213px;
  height: 64px;
  background-color: var(--main-color);
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 0 !important;
  position: relative;
}

/* hexagon css */
.dotted {
  top: -200px;
  left: 10px;
  position: absolute;
  opacity: 0.4;
}
.hexagon-sec {
  position: absolute;
  bottom: -140px;
  left: -250px;
}
.hexagon-big {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 310px;
  background: #daba14;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-small {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 130px;
  background-color: #daba14;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.bg-light {
  background-color: var(--light-color);
}
.bg-blissgreen {
  background-color: #a8ca6d;
}
.bg-darkgreen {
  background-color: #366546;
}

.main-links {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -1.1%;
  text-transform: capitalize;
  margin: 0 15px;
}
.subhead {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--white-color);
}
.btn.contactbtn {
  --color: #f9b000;
  font-family: inherit;
  display: inline-block;
  width: 150px;
  height: 43px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #f9b000;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  border-radius: 20px;
}
.btn.contactbtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.btn.contactbtn:hover {
  color: #fff;
}

.btn.contactbtn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.btn.contactbtn:hover:before {
  top: -30px;
  left: -30px;
}

.btn.contactbtn:active:before {
  background: #f9b000;
  transition: background 0s;
  border: 1px solid #f9b000 !important;
}
.card.servicecard {
  border: 2px solid #978649;
  backdrop-filter: blur(29.399999618530273px);
  background-color: #fff0c74f;
  height: 342px;
  width: 359px;
  cursor: pointer;
}
.service_head h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white-color);
}
.service_thumb {
  height: 153px;
  width: auto;
}
.service_para p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--white-color);
}

.p-much-top {
  padding-top: 1000px;
}
@media (min-width: 1550px) and (max-width: 1700px) {
  .container-fluid {
    max-width: 1500px !important;
  }
}

@media (max-width: 750px) {
  .banner_head {
    color: var(--white-color);
    font-weight: 400;
    font-size: 28px;
    line-height: 42.35px;
    letter-spacing: 0%;
    pointer-events: none;
    font-family: "Staatliches", sans-serif;
  }
  .bnb_video {
    width: 390px;
    height: 256.79px;
  }
  .about_para p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28.18px;
    letter-spacing: 0%;
    color: var(--white-color);
  }
  .mainbtn {
    width: 150px;
    height: 50px;
    background-color: var(--main-color);
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 0 !important;
    position: relative;
  }
  .bnblogo {
    width: auto;
    height: 49px;
  }
  .main_banner::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #272727 100%);
    width: 100%;
    height: 414px;
    bottom: 230px;
    left: 0;
    pointer-events: none;
  }
  .main_banner::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #272727 100%);
    width: 100%;
    height: 376px;
    top: 0;
    left: 0;
    transform: rotate(-180deg);
    pointer-events: none;
  }
  .mt-minus-50 {
    margin-top: -340px;
    position: relative;
    z-index: 12;
  }
  .subhead {
    font-weight: 400;
    font-size: 12px;
  }
  .card.servicecard {
    border: 2px solid #978649;
    backdrop-filter: blur(29.399999618530273px);
    background-color: #fff0c74f;
    height: 136px;
    width: 143.6px;
    cursor: pointer;
  }
  .service_thumb {
    height: 61.2px;
    width: auto;
  }
  .service_para p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 0 20px;
    font-size: 6.4px;
    line-height: 11px;
    color: var(--white-color);
  }
  .service_head h5 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 12.6px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .p-much-top {
    padding-top: 10px;
  }
}

@media (max-width: 450px) {
  .service_head h5 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 9.6px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .main-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-47%, -20%);
    pointer-events: none;
  }
  .about_para p {
    font-weight: 400;
    font-size: 12px;
    line-height: 23.18px;
    letter-spacing: 0%;
    color: var(--white-color);
  }
  .mainbtn {
    width: 100px;
    height: 25px;
    background-color: var(--main-color);
    color: #000000;
    font-weight: 500;
    font-size: 7.2px;
    line-height: 100%;
    letter-spacing: 0%;

    border-radius: 0 !important;
    position: relative;
  }
  .t-up-mob {
    position: relative;
    top: -380px;
  }
  .hexagon-big {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 40.2px;
    height: 45.2px;
    background-color: #daba14;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .hexagon-small {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 91px;
    background-color: #daba14;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .hexagon-sec {
    position: absolute;
    bottom: 214px;
    left: -11px;
  }
  .pt-mob-0 {
    padding-top: 0 !important;
  }

  .banner_head {
    color: var(--white-color);
    font-weight: 400;
    font-size: 25px;
    line-height: 35.35px;
    letter-spacing: 0%;
    pointer-events: none;
    font-family: "Staatliches", sans-serif;
  }
}
