@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap");

:root {
  --main-color: #f9b000;
  --dark-color: #272727;
  --light-color: #d9d9d9;
  --white-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #272727;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  height: 6000px;
  /* cursor: url('./images/bee.png') 16 16, auto; */
}

.pt-30 {
  padding: 160px 0;
}
.pt-20 {
  padding-top: 90px;
}
.pt-25 {
  padding-top: 130px;
}
.pb-10 {
  padding-bottom: 20px;
}
.pb-20 {
  padding-bottom: 120px;
}
.mt-20 {
  margin-top: 70px;
}
.section_head {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--white-color);
}
.main_banner::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #272727 100%);
  width: 100%;
  height: 276px;
  top: 0;
  left: 0;
  transform: rotate(-180deg);
  pointer-events: none;
}
.main_banner::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #272727 100%);
  width: 100%;
  height: 314px;
  bottom: 0px;
  left: 0;
  pointer-events: none;
}
.t-up {
  top: -80px;
}
.z9 {
  z-index: 99;
}
.bnblogo {
  width: auto;
  height: 78px;
}
.main-text {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-47%, -50%);
  pointer-events: none;
}
.container-fluid {
  max-width: 1400px !important;
}
.banner_head {
  color: var(--white-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 56.35px;
  letter-spacing: 0%;
  pointer-events: none;
  font-family: "Staatliches", sans-serif;
}
.banner_head span {
  color: var(--main-color);
}
.about_para p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.18px;
  letter-spacing: 0%;
  color: var(--white-color);
}
.bnb_video {
  height: 642px;
  width: 100%;
  background-color: var(--light-color);
}
.mainbtn {
  width: 213px;
  height: 64px;
  background-color: var(--main-color);
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 0 !important;
  position: relative;
}

/* hexagon css */
.dotted {
  top: -200px;
  left: 10px;
  position: absolute;
  opacity: 0.4;
}
.hexagon-sec {
  position: absolute;
  bottom: -140px;
  left: -250px;
}
.hexagon-big {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 310px;
  background-color: #daba14;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-small {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 130px;
  background-color: #daba14;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.bg-light {
  background-color: var(--light-color);
}
.bg-blissgreen {
  background-color: #a8ca6d;
}
.bg-darkgreen {
  background-color: #366546;
}

.main-links {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -1.1%;
  text-transform: capitalize;
  margin: 0 15px;
}
.subhead {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--white-color);
}

.card.servicecard {
  border: 2px solid #978649;
  backdrop-filter: blur(29.399999618530273px);
  background-color: #fff0c74f;
  height: 342px;
  width: 359px;
}
.service_head {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white-color);
}
.service_thumb {
  height: 153px;
  width: auto;
}
.service_para p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--white-color);
}

.p-much-top{
  padding-top: 700px;
}
@media (min-width: 1550px) and (max-width: 1700px) {
  .container-fluid {
    max-width: 1500px !important;
  }
}
