.card.smallcard {
  height: 328px;
  width: 100%;
  overflow: hidden;
}
.card.bigcard {
  height: 670px;
  width: 100%;
  overflow: hidden;
}
.card.filledcard {
  height: 400px;
  width: 100%;
  background-color: #366546;
}
.work_head {
  font-family: Raleway;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--white-color);
}
.horizontal-scroll-1 {
  display: flex;
  width: 300%;
}

.h-section {
  flex: 0 0 100vw;
  padding: 20px;
}
.bg-bliss-logo {
  background: url("../../images/bliss/bliss_logo_bg.webp");
  background-size: cover;
  position: relative;
}
.bg-bliss-logo::before {
  content: "";
  position: absolute;
  backdrop-filter: #00000070;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.color-box {
  width: 101px;
  height: 101px;
  border-radius: 20px;
}
.bg-lifespaces-logo {
  background: url("../../images/lifespaces/lifespaces_logo_bg.webp");
  background-size: cover;
  position: relative;
}
.bg-beeyond {
  background: url("../../images/beeyond/beeyond_logo_bg.webp");
  background-size: cover;
  position: relative;
}
.scaled {
  transform: scale(1.2);
}
.goti1 {
  width: 66px;
  height: 66px;
  border-radius: 40px;
  border: 0.4px solid #fff;
  background-color: #b9c16c;
}
.goti2 {
  width: 66px;
  height: 66px;
  border-radius: 40px;
  border: 0.4px solid #fff;
  background-color: #5c964c;
}
.goti3 {
  width: 66px;
  height: 66px;
  border-radius: 40px;
  border: 0.4px solid #fff;
  background-color: #203421;
}
.color-box-swayam {
  width: 106px;
  height: 255px;
  border-radius: 20px;
}
.blisslogo {
  height: 150px;
  width: auto;
}
.lifespaces-bag {
  height: 200px;
  width: auto;
}
@media (max-width: 751px) {
  .work_head {
    font-weight: 400;
    font-size: 19px;
    padding: 0 11px;
  }
  .card.smallcard {
    height: 95px !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card.bigcard {
    height: 205px !important;
    width: 100%;
    overflow: hidden;
  }
  .beeyondlogo {
    height: 40px;
  }
  .lifespaces_logo {
    height: 20px;
    width: auto;
  }
  .blisslogo {
    height: 40px;
    width: auto;
  }
  .color-box {
    width: 29px;
    height: 29px;
    border-radius: 40px;
  }
  .card.filledcard {
    height: 160px;
    width: 100%;
    background-color: #366546;
  }
  .goti1 {
    width: 26px;
    height: 26px;
    border-radius: 40px;
    border: 0.4px solid #fff;
    background-color: #b9c16c;
  }
  .lifespaces-bag {
    height: 62px;
    width: auto;
    transform: translate(19px, -65px);
  }
  .card.filledcard.mobcard {
    height: 130px;
    width: 100%;
  }
  .color-box-swayam {
    width: 25px;
    height: 60px;
    border-radius: 20px;
  }
}

@media (max-width: 395px) {
  .card.smallcard {
    height: 80px !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card.bigcard {
    height: 175px !important;
    width: 100%;
    overflow: hidden;
  }
  .card.filledcard {
    height: 129px;
    width: 100%;
    background-color: #366546;
  }
  .color-box {
    width: 20px;
    height: 20px;
    border-radius: 40px;
  }
  .card.filledcard.mobcard {
    height: 105px;
    width: 100%;
  }
  .color-box-swayam {
    width: 21px;
    height: 53px;
    border-radius: 20px;
  }
}
